#background {
    position: fixed;
    z-index: -1;
    width: 100%;
}

.App {
    text-align: center;
    display: compact;
}

.App-logo {
    height: 27vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    position: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: transparent;

}

p#Name {
    color: coral;
}

.App-link {
    color: #61dafb;
}


